<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
  
      <mat-card-header>
        <mat-card-title>{{title}} <mat-icon color="primary">{{isCreate ? "add_circle" : "edit"}}</mat-icon>
        </mat-card-title>
        <mat-card-subtitle *ngIf="!isCreate">ID: {{product.id}}</mat-card-subtitle>
      </mat-card-header>
  
      <form class="product-form" #myForm="ngForm">
  
        <mat-card-content>
          <table class="field-full-width">
  
            <tr>
              <td colspan="2">
                <mat-form-field class="field-full-width">
                  <input matInput [(ngModel)]="product.productName" name="productName" placeholder="Product Name"
                    value={{product.productName}}>
                    <!-- <mat-error *ngIf="productName.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="field-full-width">
                  <mat-label>Category</mat-label>
                  <mat-select [(ngModel)]="product.categoryId" name="categoryId" disabled={{!isCreate}}>
                    <mat-option *ngFor="let item of categories" [value]="item.id">{{item.name}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </td>
            </tr>
  
            <tr>
              <td colspan="4">
                <mat-form-field class="field-full-width">
                  <textarea matInput [(ngModel)]="product.shortDescription" name="shortDescription"
                    placeholder="Short Description" value={{product.shortDescription}}></textarea>
                </mat-form-field>
              </td>
            </tr>
  
            <tr>
              <td colspan="4">
                <mat-form-field class="field-full-width">
                  <textarea rows="4" matInput [(ngModel)]="product.longDescription" name="longDescription"
                    placeholder="Long Description" value={{product.longDescription}}></textarea>
                </mat-form-field>
              </td>
            </tr>
  
            <tr>
              <td colspan="2">
                <mat-form-field class="field-full-width">
                  <input matInput [(ngModel)]="product.origin" name="origin" placeholder="Origin"
                    value={{product.origin}}>
                </mat-form-field>
              </td>
  
              <td>
                <mat-form-field class="field-full-width">
                  <input matInput type="number" [(ngModel)]="product.stock" name="stock" placeholder="Stock"
                    value={{product.stock}}>
                </mat-form-field>
              </td>
  
              <td>
                <section>
                  <mat-checkbox [(ngModel)]="product.unlimited" name="unlimited">Unlimited</mat-checkbox>
                </section>
              </td>
            </tr>
  
            <tr>
              <td>
                <mat-form-field class="field-full-width">
                  <input matInput type="number" min=0 [(ngModel)]="product.price" name="price" placeholder="Price"
                    value={{product.price}}>
                  <span matPrefix>$&nbsp;</span>
                  <!-- <mat-error *ngIf="price.invalid">{{getErrorMessage()}}</mat-error> -->
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="field-full-width">
                  <input matInput type="number" [(ngModel)]="product.warrantyPeriod" name="warrantyPeriod"
                    placeholder="WarrantyPeriod" value={{product.warrantyPeriod}}>
                </mat-form-field>
              </td>
              <td>
                <mat-form-field class="field-full-width">
                  <input matInput [(ngModel)]="product.location" name="location" placeholder="Location"
                    value={{product.location}}>
                </mat-form-field>
              </td>
              <td>
                <section class="field-full-width">
                  <mat-checkbox [(ngModel)]="product.status" name="status">Status</mat-checkbox>
                </section>
              </td>
            </tr>
  
            <tr *ngIf="!isCreate">
              <td>
                CreateBy: {{product.createBy}}
              </td>
              <td>
                CreateDate: {{product.createDate | date}}
              </td>
              <td>
                ModifyBy: {{product.modifyBy}}
              </td>
              <td>
                ModifyDate: {{product.modifyDate | date}}
              </td>
            </tr>
            <mat-divider></mat-divider>
  
            <tr>
              <td colspan="2" *ngIf="product.photos?.length > 0">
                  <b> <mat-icon>photo_library</mat-icon> Current Photos</b>
                  <mat-grid-list cols="5">
                    <mat-grid-tile *ngFor="let item of product.photos">
                      <img class="grid-image" src={{item.url}}>
                      <button class="image-delete" mat-icon-button color="warn" *ngIf="!item.isMain" (click)="openDialogPhotoDelete(item)" matTooltip="Delete photo from server">
                        <mat-icon>highlight_off</mat-icon>
                      </button>
                      <button class="image-default" mat-icon-button color="primary" *ngIf="item.isMain" matTooltip="Photo is main">
                        <mat-icon>visibility</mat-icon>
                      </button>
                      <button class="image-set-main" mat-icon-button *ngIf="!item.isMain" (click)="openDialogIsMain(item)" matTooltip="Set photo is main">
                        <mat-icon>settings</mat-icon>
                      </button>
                    </mat-grid-tile>
                  </mat-grid-list>
              </td>
              <td colspan="2">
                  <p> <mat-icon>add_photo_alternate</mat-icon> New Upload Photos</p>
                  <mat-grid-list cols="5">
                    <mat-grid-tile *ngFor="let item of urlSelect;let indexOfelement=index;">
                      <img class="grid-image" src={{item}}>
                      <button class="image-delete" mat-icon-button color="warn" (click)="deleteSelected(indexOfelement)">
                        <mat-icon>highlight_off</mat-icon>
                      </button>
                    </mat-grid-tile>
                  </mat-grid-list>
  
                  <input class="uploadFile" type="file" id="uploadFile" (change)="uploadFileEvt($event)"
                  name="uploadFile" multiple="multiple" accept="image/*" />
              </td>
            </tr>
          </table>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button color="primary" type="submit" (click)="save()">
            <mat-icon>save</mat-icon> Save
          </button>
          <button mat-stroked-button color="warn" [routerLink]="['/product']">
            <mat-icon>cancel</mat-icon> Cancel
          </button>
        </mat-card-actions>
  
      </form>
    </mat-card>
  </div>