<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Contact Us !</mat-card-title>
      </mat-card-header>

      <mat-card-content>

      <mat-form-field appearance="fill">
        <mat-label>Your Name</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Your Email</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Your PhoneNumber</mat-label>
        <input matInput>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Subject</mat-label>
        <mat-select>
          <mat-option value="one">First option</mat-option>
          <mat-option value="two">Second option</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Your message</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </mat-card-content>

        <button mat-stroked-button color="accent" class="btn-block">Submit</button>
      
    </mat-card>
  
  </div>