<div class="form-dialog">
    <h1 mat-dialog-title color="warn">Delete category?</h1>
    <div mat-dialog-content>
      
      <p>{{account.id + ": " + account.userName}}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-stroked-button color="warn" [mat-dialog-close]="account"><mat-icon>delete</mat-icon> Delete</button>
      <button mat-button mat-stroked-button color="primary" (click)="onNoClick()" cdkFocusInitial><mat-icon>cancel</mat-icon> No Thanks</button>
    </div>
  </div>
  