<div class="main-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <mat-card class="box">
  
      <mat-card-header>
        <mat-card-title>{{formDetail.controls["id"] ? "Edit Category" : "Add Category"}} <mat-icon color="primary">{{formDetail.controls["id"]? "edit" : "add_circle"}}</mat-icon>
        </mat-card-title>
      </mat-card-header>

      <hr>
      
      <form class="product-form" [formGroup]="formDetail" (ngSubmit)="save()">
  
        <mat-card-content>
          <table class="field-full-width">
  
            <tr>
              <td colspan="2">
                <mat-form-field class="field-full-width">
                  <input matInput formControlName="id" placeholder="Product Name">
                  <mat-error *ngIf="formDetail.controls['id'].invalid">Product Name is required</mat-error>
                </mat-form-field>
              </td>
              <td colspan="2">
                <mat-form-field class="field-full-width">
                  <input matInput formControlName="name" placeholder="Category Name">
                  <mat-error *ngIf="formDetail.controls['name'].invalid">Category Name is required</mat-error>
                </mat-form-field>
              </td>
            </tr>
  
            <tr>
              <td colspan="4">
                <mat-form-field class="field-full-width">
                  <textarea matInput formControlName="description" placeholder="Description"></textarea>
                  <mat-error *ngIf="formDetail.controls['description'].invalid">Description is required</mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <section class="field-full-width" *ngIf="formDetail.controls['id']">
                  <mat-checkbox formControlName="status" name="status">Status</mat-checkbox>
                </section>
              </td>
            </tr>
  
          </table>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
          <button mat-stroked-button color="primary" type="submit">
            <mat-icon>save</mat-icon> Save
          </button>
          <button mat-stroked-button color="warn" type="button" [routerLink]="['/product']">
            <mat-icon>cancel</mat-icon> Cancel
          </button>
        </mat-card-actions>
  
      </form>
    </mat-card>
  </div>