<owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="item"><a href="#"><img src="../assets/images/b-logo3.png" alt="Image"></a> </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item"><a href="#"><img src="../assets/images/b-logo2.png" alt="Image"></a> </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item"><a href="#"><img src="../assets/images/b-logo1.png" alt="Image"></a> </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item"><a href="#"><img src="../assets/images/b-logo4.png" alt="Image"></a> </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item"><a href="#"><img src="../assets/images/b-logo5.png" alt="Image"></a> </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item"><a href="#"><img src="../assets/images/b-logo6.png" alt="Image"></a> </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item"><a href="#"><img src="../assets/images/b-logo1.png" alt="Image"></a> </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="item"><a href="#"><img src="../assets/images/b-logo4.png" alt="Image"></a> </div>
    </ng-template>
    
  </owl-carousel-o>
