<div class="form-dialog">
    <h1 mat-dialog-title color="warn">Delete product?</h1>
    <div mat-dialog-content>
      <img *ngIf="product.photoUrl" mat-card-sm-image src={{product.photoUrl}} alt={{product.productName}}>
      <img *ngIf="!product.photoUrl" mat-card-sm-image src='../../../assets/photos/no-product-image.png'>
      <p>{{product.id + ": " + product.productName}}</p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-stroked-button color="warn" [mat-dialog-close]="product"><mat-icon>delete</mat-icon> Delete</button>
      <button mat-button mat-stroked-button color="primary" (click)="onNoClick()" cdkFocusInitial><mat-icon>cancel</mat-icon> No Thanks</button>
    </div>
  </div>
  