.product-name {
	font-size: 32px;
	color: black;
}

.product-price {
	font: 18px;
	color: #833471;
}

.product-description {
	text-align: justify;
}

.preview > img{
	width: 100%;
}

.grid-image {
	width: 100%;
	border: 1px;
	border-color: #833471;
	padding: 5px;
}

.ng-container {
	width: 100%;
	margin: 50px;
}
.details * {
 padding: 10px;
}

.btn-add-cart {
	display: inline-flex;
}
