<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">

        <div class="preview col-md-6">
          <img src={{urlImageShow}} alt={{urlImageShow}}>

          <mat-grid-list cols="5">
            <mat-grid-tile *ngFor="let item of product.photos">
              <a (click)="showImage(item.url)"><img class="grid-image" src={{item.url}}></a>

            </mat-grid-tile>
          </mat-grid-list>

        </div>

        <div class="details col-md-6">
          <h3 class="product-name">{{product.productName}}</h3>
          <h4 class="product-price">${{product.price}}</h4>
          <p class="product-description">{{product.longDescription}}</p>

          <p><b>In stock: <span>{{product.unlimited ? "unlimit" :product.stock}}</span></b></p>
          <p *ngIf="product.origin">Origin: {{product.origin}}</p>
          <p *ngIf="product.warrantyPeriod">Warranty Period: {{product.warrantyPeriod}}</p>
          <br/>
          <p>Category: <a routerLink="/category/{{product.categoryId}}">{{product.categoryName}}</a></p>
          <div class="action">
            <button class="btn-add-cart" mat-stroked-button color="accent"
              disabled="{{product.stock <= 0 && !product.unlimited}}" (click)="addCart()">
              Add to cart
            </button>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>