
.form-dialog {
    text-align: center;
}

.mat-dialog-content > img {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 5px;
    margin: 5px;
    width: 200px;
    height: auto;
}

.mat-dialog-actions {
    position: relative;
	display: flex;
	justify-content: center;
}

.mat-dialog-actions > button {
    width: 120px;
}

h1 {
    font-weight: bold;
}
b {
    color: red;
    font-style: italic;
}